.app {
  text-align: center;
}

main .defaultMargin {
  margin: 24px 0;
}

.main {
  padding: 0 10%;
}

footer .links {
  width: 200px;
  margin: 12px auto;
}

div .gridItem {
  min-width: 100px;
  width: 100%;
}
